.item.component {
  padding: 0.2em;
  margin: 0.2em;
  width: 400px;
  height: 117px;
  justify-content: left;
  border-radius: 1ch;

  p{
    padding: 0.2em;
    margin-inline: 0.1em;
    margin-top: 0.1em;
    margin-bottom: 0;
    background-color: var(--sub-mask);
  }

  .id{
    align-self: center;
    text-align: center;
    margin-right: 0;
    background-color: rgba(120,120,120,0.3);
    border-top-left-radius: 0.6ch;
  }
  .name{
    align-self: center;
    text-align: center;
    flex-grow: 2;
    font-weight: 600;
    background-color: rgba(120,120,120,0.3);
    border-top-right-radius: 0.6ch;
  }
  .description{
    text-align: justify;
    width: 100ch;
    height: 7ch;
    font-weight: 100;
    background-color: rgba(255,255,255,0.18);
    border-bottom-right-radius: 0.6ch;
    word-break: break-all;
  }
  .quantity{
    align-self: center;
    text-align: right;
    font-weight: 400;
    background-color: rgba(120,120,120,0.3);
    border-bottom-left-radius: 0.6ch;
  }
}

@media screen and (max-width: 700px) {
  .item.component{
    width: 300px;
  }
}