.item{
  padding: 0.2em;
  margin: 0.2em;
  width: 400px;

  p{
    padding: 0.2em;
    margin: 0;
  }

  .id{
    align-self: center;
    text-align: center;
  }
  .name{
    align-self: center;
    text-align: center;
    flex-grow: 2;
  }
  .description{
    text-align: justify;
    width: 100ch;
  }
  .quantity{
    align-self: center;
    text-align: right;
  }
}