:root{
  --error-color: rgb(195, 14, 14);
  --error-bg-color: rgb(193, 147, 147);
  --valid-color: rgb(14, 194, 14);
  --valid-bg-color: rgb(147, 193, 147);

  @media (prefers-color-scheme: light){
    /* Light Mode Colors */
    --main-bg: rgb(249, 249, 226);
    --main-comp-mask: rgba(26, 52, 26, 0.3);
    --sub-mask: rgba(130, 138, 85, 0.2);
    --button-mask: rgba(40, 71, 30, 0.1);
    --hover-mask: rgba(40,71,30,0.5);
    --click-mask: rgba(90, 114, 83, 0.5);
    --text: rgb(20,40,20);
    --text-bg: rgba(210, 218, 165,0.7);
    --link: rgb(30,60,30);
    --heading-one: rgb(75, 99, 39);
    --heading-two: rgb(99, 120, 68);
    --heading-three: rgb(104, 122, 77);
    --heading-four: rgb(101, 122, 70);
    --heading-five: rgb(31, 34, 27);
    --heading-six: rgb(30, 31, 28);
  }

  @media (prefers-color-scheme: dark){
    /* Dark Mode Colors */
    --main-bg: rgb(20,20,20);
    --main-comp-mask: rgba(255,255,255,0.3);
    --sub-mask: rgba(255,255,255,0.1);
    --button-mask: rgba(255,255,255,0.1);
    --hover-mask: rgba(90, 114, 83, 0.5);
    --click-mask: rgba(40,71,30,0.5);
    --text: rgb(212, 212, 161);
    --text-bg: rgba(190, 214, 193,0.7);
    --link: rgb(208, 255, 164);
    --heading-one: rgb(140, 186, 72);
    --heading-two: rgb(149, 187, 93);
    --heading-three: rgb(139, 171, 92);
    --heading-four: rgb(133, 165, 85);
    --heading-five: rgb(172, 214, 108);
    --heading-six: rgb(182, 222, 123);
  }

  background-color: var(--main-bg);
  color: var(--text);
  h1{ color: var(--heading-one); }
  h2{ color: var(--heading-two); }
  h3{ color: var(--heading-three); }
  h4{ color: var(--heading-four); }
  h5{ color: var(--heading-five); }
  h6{ color: var(--heading-six); }


  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
  text-align: center;


  a, button{
    min-width: 10ch;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 2ch;
    background-color: var(--button-mask);
    text-decoration: none;
    color: var(--link)
  }
  a:hover, button:hover{
    background-color: var(--hover-mask);
  }
  a:active, button:active{
    background-color: var(--click-mask);
  }
  a:visited, button:visited{
    color: var(--link);
  }
}

body{
  margin: 0;
}

#root{
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.inventory{
  width: 100%;
}

.component{
  background-color: var(--sub-mask);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .header{
    width: 100%;
    text-transform: capitalize;
  }

  button{
    border-color: unset;
    border-style: unset;
    margin-top: 2em;
    padding: 0.75em;
    width: 20ch;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.form.component{
  flex-direction: column;
  min-width: 400px;
  max-width: 600px;

  margin-block: 1em;
  margin-inline: auto;
  padding: 1em;
  border-radius: 1em;

  max-height: min-content;
  justify-self: center;
  align-self: center;

  justify-content: center;
  align-items: center;

  input, textarea{
    width: 80%;
    border-radius: 1ch;
    padding: 1ch;
    background-color: var(--text-bg);
    resize: none;
    border-style: unset;
    border: 1px solid black;
  }

  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"]{
    text-align: center;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input::placeholder{
    text-align: left;
  }

  label{
    width: 80%;
    position: relative;
    text-align: left;
  }

  .tooltip {
    position: absolute;
    text-align: right;
    right: 0;
    font-style: italic;
    opacity: 0.8;
  }

  .tooltip-text {
    visibility: hidden;
    position: absolute;
    text-align: left;
    width: auto;
    top: 2ch;
    left: 0;
    z-index: 1;
    font-style: italic;
    opacity: 0.6;
  }

  .tooltip:hover ~ .tooltip-text{
    visibility: visible;
  }
}

.error{
  background-color: var(--error-bg-color) !important;
  border-color: var(--error-color) !important;
}

.valid{
  background-color: var(--valid-bg-color) !important;
  border-color: var(--valid-color) !important;
}

@media screen and (max-width: 700px) {
  #root{
    display: unset;
  }

  :root{
    font-size: smaller;
    a, button{
      width: 40ch;
      align-self: center;
      padding: 0.75em;
      max-width: 50ch;
      font-size: small;
    }

    button{
      font-size: smaller;
      font-weight: 700;
      margin: 0.75em;
    }

    .form.component{
      min-width: unset;
      max-width: 360px;
    }
  }
}

@media screen and (max-width: 400px){
  :root{
    .form.component{
      min-width: unset;
      max-width: 320px;
    }
  }
}

@media screen and (max-width: 360px){
  :root{
    font-size: small;
    .form.component{
      min-width: unset;
      max-width: 300px;
    }
  }
}