:root{

  @media (prefers-color-scheme: light){
    /* Light Mode Colors */
    --main-bg: rgb(249, 249, 226);
    --main-comp-mask: rgba(26, 52, 26, 0.3);
    --sub-mask: rgba(130, 138, 85, 0.2);
    --button-mask: rgba(40, 71, 30, 0.1);
    --hover-mask: rgba(40,71,30,0.5);
    --click-mask: rgba(90, 114, 83, 0.5);
    --text: rgb(20,40,20);
    --link: rgb(30,60,30);
    --heading-one: rgb(75, 99, 39);
    --heading-two: rgb(99, 120, 68);
    --heading-three: rgb(104, 122, 77);
    --heading-four: rgb(101, 122, 70);
    --heading-five: rgb(31, 34, 27);
    --heading-six: rgb(30, 31, 28);
  }

  @media (prefers-color-scheme: dark){
    /* Dark Mode Colors */
    --main-bg: rgb(20,20,20);
    --main-comp-mask: rgba(255,255,255,0.3);
    --sub-mask: rgba(255,255,255,0.1);
    --button-mask: rgba(255,255,255,0.1);
    --hover-mask: rgba(90, 114, 83, 0.5);
    --click-mask: rgba(40,71,30,0.5);
    --text: rgb(212, 212, 161);
    --link: rgb(208, 255, 164);
    --heading-one: rgb(140, 186, 72);
    --heading-two: rgb(149, 187, 93);
    --heading-three: rgb(139, 171, 92);
    --heading-four: rgb(133, 165, 85);
    --heading-five: rgb(172, 214, 108);
    --heading-six: rgb(182, 222, 123);
  }

  background-color: var(--main-bg);
  color: var(--text);
  h1{ color: var(--heading-one); }
  h2{ color: var(--heading-two); }
  h3{ color: var(--heading-three); }
  h4{ color: var(--heading-four); }
  h5{ color: var(--heading-five); }
  h6{ color: var(--heading-six); }


  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
  text-align: center;


  a, button{
    min-width: 10ch;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 2ch;
    background-color: var(--button-mask);
    text-decoration: none;
    color: var(--link)
  }
  a:hover, button:hover{
    background-color: var(--hover-mask);
  }
  a:active, button:active{
    background-color: var(--click-mask);
  }
  a:visited, button:visited{
    color: var(--link);
  }
}

#root{
  display: flex;
  width: 100vw;
}

.component{
  background-color: var(--sub-mask);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1250px;

  .header{
    width: 100%;
    text-transform: capitalize;
  }
}

@media screen and (max-width: 700px) {
  #root{
    display: unset;
    font-size: smaller;
  }
}